---
import Layout from '../layouts/Layout.astro';

const courseLink = "https://studies.helsinki.fi/courses/course-implementation/hy-opt-cur-2425-f0bc7662-8185-4d45-a0e1-60e250819047/CSM14103";
---

<Layout>
	<main class="root">
		<h1 class="title">SWAP Search Engine</h1>
		<p class="text">This is a University of Helsinki course project for 
			<a target="_blank" href={courseLink}>
				Software Architecture Project 2025</a>.
			We are currently crawling the internet to form our index, sorry if something isn't quite right!
		</p>

		<div class="links">
			<a target="_blank" href="https://github.com/ronituohino/swap">source code</a>
			<address>
				<a href="mailto:roni.tuohino@helsinki.fi">roni.tuohino@helsinki.fi</a>
			</address>
		</div>
	</main>
</Layout>

<style>
	.root {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		background-color: var(--box-col);
		box-shadow: rgba(7, 7, 15, 0.514) 0px 30px 60px -12px, rgba(0, 13, 36, 0.747) 0px 18px 36px -18px;
		padding: 2rem;
		text-align: center;
		max-width: 500px;
		border-radius: 1rem;
	}

	.title, .text {
		margin-bottom: 1rem;
	}

	.links {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	p {
		line-height: 1.25rem;
	}
</style>